include README.md
include UTILS.md
include requirements.txt
include mowgli/data/socialiqa-tune-dev/*
include mowgli/data/physicaliqa-tune-dev/*
include mowgli/data/hellaswag-tune-dev/*
include mowgli/data/alphanli/*
include mowgli/data/se2018t11/*
include mowgli/data/csqa/*
include mowgli/cfg/*
include mowgli/configurator/*
